@page
@model BookRazorPage.Pages.Shared.BooksModel
@{
}
<div>
    <p class="display-4" style="font-size: 1.3rem; font-weight: 500;">Book Menu</p>
    <div class="ps-5 ms-5">
        <div class="d-flex mt-2" style="font-size: 0.8rem;">
            
            <div class="mx-3">

                <div>
                    <p class="px-2 ps-0" style="font-size: 0.8rem; font-weight: bolder;">Search by Price</p>
                </div>
                <div class="mx-3">
                    <div>
                        <input id="minPrice" type="number" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2" placeholder="Min Price" />
                        <input id="maxPrice" type="number" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2" placeholder="Max Price" />
                    </div>
                    <div class="mt-2 pt-1">
                        <button class="px-2 py-1 border-0" style="background-color: #5bbede; color: #fff; border-radius: 5px" onclick="searchByPrice()">
                            Search By Price
                        </button>
                    </div>
                    <div class="mt-2 pt-1">
                        <input id="searchTerm" type="text" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2" placeholder="Search by Name" />
                        <button class="px-2 py-1 border-0" style="background-color: #5bbede; color: #fff; border-radius: 5px" onclick="searchBookByTitle()">Search by Name</button>
                    </div>

                    <div class="mt-2 pt-1">
                        <form id="editForm" class="row border border-3 mt-2">
                            <input type="hidden" id="editId" name="id" />
                            <div class="col-md-6">
                                <label for="editTitle" class="form-label">Title</label>
                                <input type="text" class="form-control" id="editTitle" name="title">
                            </div>
                            <div class="col-md-6">
                                <label for="editType" class="form-label">Type</label>
                                <input type="text" class="form-control" id="editType" name="type"></input>
                            </div>
                              <div class="col-md-6">
                                <label for="editPub" class="form-label">Publishers</label>
                                <select class="form-select" id="editPub" name="pubName"></select>
                            </div>
                            <div class="col-md-6">
                                <label for="editPrice" class="form-label">Price</label>
                                <input type="number" class="form-control" id="editPrice" name="price">
                            </div>
                            <div class="col-md-6 pb-2">
                                <label for="editAdvance" class="form-label">Advance</label>
                                <input type="number" class="form-control" id="editAdvance" name="advance">
                            </div>
                       
                        </form>
                    </div>
                    <div class="mt-2 pt-1">
                        <button class="btn btn-primary" onclick="createBook()">Create</button>
                    </div>
                    <div>
                    </div>
                </div>

            </div>
            <script src="js/site.js" asp-append-version="true"></script>
            </div>
        </div>
    </div>
    <p class="display-4" style="font-size: 1rem; font-weight: 500">All Books</p>
    <hr />
    <div style="width: 90%; gap: 5%; margin: 0 auto" class="d-flex justify-content-start flex-wrap">
        <table class="table table-primary  table-bordered table-hover ">
            <thead>
                <tr >
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Advance</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="books">

            </tbody>

        </table>
        
  
    <script type="text/javascript">
        getOptionPub();
        getItems();
        get();
    </script>
</div>