@page "/Login"
@model BookStoreWebSite.Pages.LoginModel
@{
    Layout = null;
}

<div>
    <h3 class="display-4" style="font-size: 1.3rem; font-weight: 500;">Please log in here.</h3>
    <h2 class="display-4" style="font-size: 1rem">Enter your details below</h2>
    <hr />
    <div class="ps-5 ms-5">
        <div class="d-flex justify-content-center mt-2 border border-3" style="font-size: 0.8rem;">
            <div>
                <p class="px-2 ps-0 my-0 fs-2" style="font-weight: bolder;">User Name</p>
                <input id="email" type="text" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2" name="EmailAddress" />
            </div>
            <div class="mx-3">
                <p class="px-2 ps-0 my-0 fs-2" style="font-weight: bolder;">Password</p>
                <input id="password" type="password" style="border-radius: 3px; border: 1px solid #dfe0e2;" class="px-2 mt-2" name="Password" />
                <div class="mt-2 pt-1">
                    <button type="button" class="px-2 py-1 border-0" onclick="checkLogin()" style="background-color: #204ac9; color: #fff; border-radius: 5px">
                        Log in
                    </button>
                </div>
            </div>
        </div>
        <script src="js/site.js" asp-append-version="true"></script>

        @{
            var errors = new List<string>();
            foreach (var modelState in Model.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    errors.Add(error.ErrorMessage);
                }
            }
        }
        @if (errors.Any())
        {
            <div class="alert alert-danger mt-3">
                <ul>
                    @foreach (var error in errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    async function checkLogin() {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const loginData = {
            Email: email,
            Password: password
        };

        try {
            const response = await fetch('/api/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(loginData)
            });

            if (response.ok) {
                const user = await response.json();
                alert('Login successful!');
                // Redirect or perform further actions
            } else {
                const error = await response.text();
                alert('Login failed: ' + error);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred while logging in.');
        }
    }
</script>
